@model IEnumerable<Domain.Entities.EmpAirline>

@{
    ViewBag.Title = "Index";
}

<h2 style="color:blue"><i class="fa fa-list"></i> List of Employees</h2>

@using (Html.BeginForm())
{

    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" name="search" id="search" class="form-control" placeholder="Search By Name">
                <span class="input-group-btn">
                    <button style="margin-left:15px;height:35px" class="btn btn-default" type="submit" value="search"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="dynamic-table" class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Airlinecompany)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CIN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contry)
            </td>

            
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Airlinecompany.Name)
            </td>
            <td>
                <div class="hidden-sm hidden-xs action-buttons">
                    <a class="blue" href="@Url.Action("Details", "EmpAirlines", new { id = item.EmpAirlineId})">
                        <i class="ace-icon fa fa-search-plus bigger-130"></i>
                    </a>

                    <a class="green" href="@Url.Action("Edit", "EmpAirlines", new { id = item.EmpAirlineId})">
                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                    </a>

                    <a class="red" href="@Url.Action("Delete", "EmpAirlines", new { id = item.EmpAirlineId})">
                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                    </a>
                </div>

            </td>
        </tr>
    }

</table>
