<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Destination Airport</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")


</head>
<body class="no-skin">
    <div id="navbar" class="navbar navbar-default">
        <script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
        </script>

        <div class="navbar-container" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header pull-left">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">
                    <small>
                        <i class="fa fa-paper-plane-o"></i>
                        Destination Manager
                    </small>
                </a>
            </div>

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">

                    @using Microsoft.AspNet.Identity
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                        <li class="light-blue">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                <img class="nav-user-photo" src="@Url.Content("~/Content/tp/avatars/user.jpg")" alt="Jason's Photo" />
                                <span class="user-info">
                                    <small>Welcome,</small>
                                    @User.Identity.GetUserName()
                                </span>
                                <i class="ace-icon fa fa-caret-down"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </a>

                            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                <li>
                                    <a href="@Url.Action("Index", "Manage")">
                                        <i class="ace-icon fa fa-cog"></i>
                                        Settings
                                    </a>
                                </li>

                                <li>
                                    <a href="profile.html">
                                        <i class="ace-icon fa fa-user"></i>
                                        Profile
                                    </a>
                                </li>

                                <li class="divider"></li>

                                <li>
                                    <a href="javascript:document.getElementById('logoutForm').submit()">
                                        <i class="ace-icon fa fa-power-off"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>

                        </li>


                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    }


                    
                </ul>
            </div>


        </div><!-- /.navbar-container -->
    </div>

    <div class="main-container" id="main-container">
        <script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
        </script>

        <div id="sidebar" class="sidebar                  responsive">
            <script type="text/javascript">
					try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
            </script>

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="ace-icon fa fa-signal"></i>
                    </button>

                    <button class="btn btn-info">
                        <i class="ace-icon fa fa-pencil"></i>
                    </button>

                    <button class="btn btn-warning">
                        <i class="ace-icon fa fa-users"></i>
                    </button>

                    <button class="btn btn-danger">
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- /.sidebar-shortcuts -->

            <ul class="nav nav-list">
                <li class="">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="menu-icon fa fa-tachometer"></i>
                        <span class="menu-text"> Dashboard </span>
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-plane"></i>
                        <span class="menu-text">
                            Plane Management
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="@Url.Action("Index", "Plane")">
                                <i class="menu-icon fa fa-list-alt"></i>
                                Plane List
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="@Url.Action("Create", "Plane")">
                                <i class="menu-icon fa fa-plus"></i>
                                Add new Plane
                            </a>
                            <b class="arrow"></b>
                        </li>


                    </ul>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa fa-home"></i>
                        <span class="menu-text">
                            Location's
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="@Url.Action("Index", "Location")">
                                <i class="menu-icon fa fa-list-alt"></i>
                                Location List
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="@Url.Action("Create", "Location")">
                                <i class="menu-icon fa fa-plus"></i>
                                Add new Location
                            </a>
                            <b class="arrow"></b>
                        </li>


                    </ul>
                </li>



                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-paper-plane-o"></i>
                        <span class="menu-text">
                            Flight Management
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="@Url.Action("Index", "Flight")">
                                <i class="menu-icon fa fa-list-alt"></i>
                                Flight List
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="@Url.Action("Create", "Flight")">
                                <i class="menu-icon fa fa-plus"></i>
                                Add new Flight
                            </a>
                            <b class="arrow"></b>
                        </li>


                    </ul>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-ticket"></i>
                        <span class="menu-text">
                            Reservation's 
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="@Url.Action("Index", "Reservation")">
                                <i class="menu-icon fa fa-list-alt"></i>
                                Reservation List
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="@Url.Action("Create", "Reservation")">
                                <i class="menu-icon fa fa-plus"></i>
                                Add new Reservation
                            </a>
                            <b class="arrow"></b>
                        </li>


                    </ul>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-ticket"></i>
                        <span class="menu-text">
                            Deal's
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                     

                        <li class="">
                            <a href="@Url.Action("Create", "Deal")">
                                <i class="menu-icon fa fa-plus"></i>
                                Add new Deal
                            </a>
                            <b class="arrow"></b>
                        </li>


                    </ul>
                </li>


                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-plane"></i>
                        <span class="menu-text">
                            Airline Company
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="@Url.Action("Index", "Airlines")">
                                <i class="fa fa-list"></i>
                                Airline Company  List
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="@Url.Action("Create", "Airlines")">
                                <i class="fa fa-plus-square"></i>
                                Add Airline Company
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="@Url.Action("FlightMap", "Flight")">
                                <i class="fa fa-plus-square"></i>
                                Airline companies Map
                            </a>
                            <b class="arrow"></b>
                        </li>



                    </ul>
                </li>



                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-user"></i>
                        <span class="menu-text">
                            Airline Emloyees
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="@Url.Action("Index", "EmpAirlines")">
                                <i class="fa fa-list"></i>
                                Airline Employees List
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="@Url.Action("Create", "EmpAirlines")">
                                <i class="fa fa-plus-square"></i>
                                Add Employees
                            </a>
                            <b class="arrow"></b>
                        </li>



                    </ul>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle">
                        <i class="menu-icon fa fa-user"></i>
                        <span class="menu-text">
                            Emloyee's
                        </span>

                        <b class="arrow fa fa-angle-down"></b>
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="@Url.Action("Index", "Employee")">
                                <i class="fa fa-list"></i>
                                Employees List
                            </a>
                            <b class="arrow"></b>
                        </li>

                        <li class="">
                            <a href="@Url.Action("Create", "Employee")">
                                <i class="fa fa-plus-square"></i>
                                Add Employees
                            </a>
                            <b class="arrow"></b>
                        </li>



                    </ul>
                </li>

                <li class="">
                    <a href="@Url.Action("DisplayChart", "Airlines")">
                        <i class="menu-icon fa fa-bar-chart"></i>
                        <span class="menu-text">
                            Airline Stat
                        </span>


                    </a>



                </li>

               


            </ul><!-- /.nav-list -->

            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>

            <script type="text/javascript">
					try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
            </script>
        </div>

        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs" id="breadcrumbs">
                    <script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                    </script>

                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="#">Home</a>
                        </li>

                        <li>
                            <a href="#">Other Pages</a>
                        </li>
                        <li class="active">Error 404</li>
                    </ul><!-- /.breadcrumb -->

                    <div class="nav-search" id="nav-search">
                        <form class="form-search">
                            <span class="input-icon">
                                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                <i class="ace-icon fa fa-search nav-search-icon"></i>
                            </span>
                        </form>
                    </div><!-- /.nav-search -->
                </div>

                <div class="page-content">


                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->

                            <div class="error-container">
                                <div class="well">


                                    @RenderBody()






                                </div>
                            </div>

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">Destination</span>
                        Application &copy; 2015
                    </span>

                    &nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->
    <!-- basic scripts -->


    @RenderSection("scripts", required: false)
</body>


</html>
