@model Domain.Entities.Deal

<div>
    <h4>Deal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDeal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDeal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDeal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDeal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DealId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
