@model Domain.Entities.Plane

@{
    ViewBag.Title = "Create";
}

<div class="page-header">
    <h1>
        <i class="fa fa-plane"></i> Add new Plane
    
    </h1>
</div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PlaneName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlaneName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PlaneName, "", new { @class = "text-danger" })
            </div>
        </div>

   

        <div class="form-group">
            @Html.LabelFor(model => model.TotalSeats, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalSeats, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TotalSeats, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaximumSpeed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaximumSpeed, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaximumSpeed, "", new { @class = "text-danger" })
            </div>
        </div>



        
           
        

        <div class="form-group">
            <i class="fa fa-plug"></i>
            @Html.LabelFor(model => model.Plug, htmlAttributes: new { @class = "control-label col-md-2" })
            
            <div class="col-md-10">
                <input name="Plug" id="Plug" class="ace ace-switch ace-switch-5" type="checkbox" value="true">
                <span class="lbl"></span>
            </div>
        </div>

        <div class="form-group">
            <i class="fa fa-wifi"></i>
            @Html.LabelFor(model => model.Wifi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="Wifi" id="Wifi" class="ace ace-switch ace-switch-5" type="checkbox" value="true">
                <span class="lbl"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                
                <button type="submit" value="Add" class="btn btn-info">
                    <i class="ace-icon fa fa-plus align-top bigger-125"></i> Add
                </button>

            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
